@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: "Loto"; }

.nav {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: rgba(15, 14, 74, 0.675);
  position: fixed; }

.nav-container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }

.logo:hover {
  transform: scale(1.4, 1.4);
  transition: 1s; }

.nav-menu ul {
  display: flex;
  justify-content: end;
  column-gap: 30px;
  font-size: 30px; }
  .nav-menu ul li {
    list-style: none; }
  .nav-menu ul a {
    text-decoration: none;
    color: white;
    font-size: 24px; }
    .nav-menu ul a:hover {
      color: #899faf;
      text-decoration: underline; }

.nav-label, .nav-input {
  display: none; }

.banner {
  background-image: url(../imagenes/Diseño-1.jpg);
  height: 60vh;
  background-position: center; }
  .banner h2 {
    color: rgba(250, 235, 215, 0); }

.tituloDescripcion {
  background-image: linear-gradient(#251254, rgba(0, 27, 29, 0.508));
  padding: 10px; }
  .tituloDescripcion h2 {
    text-align: center;
    font-size: 40px;
    margin: 10px; }
    .tituloDescripcion h2:hover {
      transform: scale(1.2, 1.2);
      text-decoration: underline;
      transition: 2s; }

.grid-inicio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 25px;
  text-align: center; }

.tituloContacto {
  background-image: linear-gradient(rgba(0, 27, 29, 0.508), #adbfe6);
  padding: 50px; }
  .tituloContacto h2 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline; }

.textocontacto {
  text-align: center;
  font-size: 25px;
  padding: 20px; }

.img-inicio {
  width: 100%;
  max-width: 500px; }

.img-inicio-1 {
  width: 100%;
  max-width: 500px; }

.img-inicio-movil {
  display: none; }

.footerNav {
  background-color: #adbfe6;
  color: black;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch; }
  .footerNav li {
    list-style: none;
    padding: 10px; }
  .footerNav a {
    text-decoration: none;
    color: black; }
    .footerNav a:hover {
      color: #60365f;
      text-decoration: underline; }
  .footerNav ul {
    text-align: center;
    padding: 50px; }

.tituloNav {
  color: black;
  font-size: 30px;
  text-align: center;
  text-decoration: underline; }

.productos {
  background-image: linear-gradient(#251254, rgba(0, 27, 29, 0.508));
  padding: 10px; }
  .productos h1 {
    text-align: center;
    font-size: 40px; }
    .productos h1:hover {
      transform: scale(1.2, 1.2);
      text-decoration: underline;
      transition: 2s; }
  .productos h2 {
    font-size: 30px; }
  .productos figure div {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

.joysticks {
  text-align: right;
  width: 90%; }

.img-uni {
  width: 100%;
  max-width: 400px; }

.galeria {
  background-color: rgba(0, 8, 255, 0.659);
  padding: 10px; }
  .galeria h1 {
    text-align: center;
    font-size: 40px; }
    .galeria h1:hover {
      transform: scale(1.2, 1.2);
      text-decoration: underline;
      transition: 2s; }
    .galeria h1 figure {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      justify-items: center;
      align-items: center;
      grid-row-gap: 30px; }

.nosotros {
  background-image: linear-gradient(#251254, rgba(0, 27, 29, 0.508));
  padding: 50px; }
  .nosotros h1 {
    text-align: center;
    font-size: 40px; }
    .nosotros h1:hover {
      transform: scale(1.2, 1.2);
      text-decoration: underline;
      transition: 2s; }

.textonosotros {
  text-align: center;
  font-size: 17px; }

.ubicacion h1 {
  text-align: center;
  font-size: 40px; }

.mapa {
  width: 100%;
  max-width: 800px;
  display: flex;
  margin: auto; }

.paginacontacto {
  background-image: linear-gradient(#251254, rgba(0, 27, 29, 0.508)); }
  .paginacontacto h1 {
    text-align: center;
    font-size: 40px; }
    .paginacontacto h1:hover {
      transform: scale(1.2, 1.2);
      text-decoration: underline;
      transition: 2s; }

.formulario {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .formulario li {
    padding: 6px; }

@media screen and (max-width: 480px) {
  .nav-label {
    display: block;
    cursor: pointer; }
  .nav-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.87);
    width: 100%;
    left: 0;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav-menu ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 500px; }
  .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center); }
  .banner {
    background-image: url(../imagenes/DiseñoMovil.jpg);
    height: 20vh;
    background-position: center; }
  .tituloDescripcion {
    background-image: linear-gradient(#251254, rgba(0, 27, 29, 0.508));
    padding: 0.4; }
  .tituloDescripcion div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: left;
    font-size: 17px;
    text-align: left; }
  .img-inicio-movil {
    display: flex;
    width: 100%;
    max-width: 400px; }
  .img-inicio-1 {
    display: none; }
  .textocontacto {
    font-size: 20px; }
  .footerNav {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: stretch; }
  .productos figure div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 5px; }
  .galeria figure {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 5px; }
  .ubicacion iframe {
    display: flex;
    width: 400px;
    height: 400px; }
  .textonosotros {
    font-size: 17px; }
  .mapa {
    width: 100%;
    max-width: 250px; } }

@media screen and (max-width: 768px) and (min-width: 481px) {
  .nav-label {
    display: block;
    cursor: pointer; }
  .nav-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.87);
    width: 100%;
    left: 0;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav-menu ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 500px; }
  .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center); }
  .banner {
    background-image: url(../imagenes/Diseñotablet.jpg);
    height: 30vh;
    background-position: center; }
  .productos figure div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 5px; }
  .galeria figure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 10px; }
  .mapa {
    width: 100%;
    max-width: 500px; } }

@media screen and (max-width: 1200px) and (min-width: 769spx) {
  .header {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: rgba(15, 14, 74, 0.404);
    position: fixed; }
  .banner {
    background-image: url(../imagenes/Diseño-1.jpg);
    height: 60vh;
    background-position: center; } }
