.banner{
    background-image: url(../imagenes/Diseño-1.jpg);
    height: 60vh;
    background-position:center;
    h2{
        color: rgba(250, 235, 215, 0);
    }
}
.tituloDescripcion{
    background-image: $background-image;
    padding: 10px;
    h2{
        text-align: center;
        font-size: $font-size;
        margin: 10px;
        &:hover{
            transform: scale(1.2, 1.2);
            text-decoration:underline ;
            transition: 2s
        }
    }
}
.grid-inicio{
    @include Propiedad-grid (repeat(2, 1fr), center, center);
    font-size: 25px;
    text-align: center;
}
.tituloContacto{
    background-image: linear-gradient( rgba(0, 27, 29, 0.508), rgb(173, 191, 230));
    padding: 50px;
    h2{
        text-align: center;
        font-size: $font-size;
        text-decoration:underline;
    }
}
.textocontacto{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.img-inicio{
    width: 100%;
    max-width: 500px;
}
.img-inicio-1{
    width: 100%;
    max-width: 500px;
}
.img-inicio-movil{
    display: none;
}