.nosotros{
    background-image: linear-gradient(rgb(37, 18, 84),rgba(0, 27, 29, 0.508));
    padding: 50px;
    h1{
        text-align: center;
        font-size: $font-size;
        &:hover{
            transform: scale(1.2, 1.2);
            text-decoration:underline ;
            transition: 2s
        }
    }
}
.textonosotros{
    text-align: center;
    font-size: 17px;
}
.ubicacion h1{
    text-align: center;
    font-size: $font-size;
}
.mapa{
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;
}