.productos {
    background-color: black;
    padding: 10px;
    h1{
        text-align: center;
        font-size: $font-size;
        color: aliceblue;
        &:hover{
            transform: scale(1.2, 1.2);
            text-decoration:underline ;
            transition: 2s
        }
    }
    h2{
        font-size: 30px;
        color: aliceblue;
    }
    figure div{
        @include Propiedad-flex (row, space-around);
    }
}
.joysticks{
    text-align: right;
    width: 90%;
}
.img-uni{
    width: 100%;
    max-width: 400px;
}