.galeria{
    background-image: $background-image;
    padding: 10px;
    h1{
        text-align: center;
        font-size: $font-size;
        &:hover{
            transform: scale(1.2, 1.2);
            text-decoration:underline ;
            transition: 2s
        }
        figure{
            @include Propiedad-grid (repeat(3, 2fr), center, center);
            grid-row-gap: 30px;
        }
    }
}