.galeria{
    background-color: rgba(0, 8, 255, 0.659);
    padding: 10px;
    h1{
        text-align: center;
        font-size: 40px;
        &:hover{
            transform: scale(1.2, 1.2);
            text-decoration:underline ;
            transition: 2s
        }
        figure{
            display: grid;
            grid-template-columns: repeat(3,2fr);
            justify-items: center;
            align-items: center;
            grid-row-gap: 30px;
        }
    }
}