@media screen and (max-width: 480px){
    .nav-label{
        display: block;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.87);
        width: 100%;
        left: 0;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .nav-menu ul{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }
    .nav-input:checked + .nav-menu{
        clip-path: circle(100% at center);
    }
    .banner{
        background-image: url(../imagenes/DiseñoMovil.jpg);
        height: 20vh;
        background-position:center;
    }
    .tituloDescripcion{
        background-image: linear-gradient(rgb(37, 18, 84),rgba(0, 27, 29, 0.508));
        padding: 0.4;
    }
    .tituloDescripcion div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items:left;
        font-size:15px;
        text-align:left;
    }
    .tituloDescripcion div p{
        border: 1px solid black;
    }
    .footerNav{
        background-color: rgba(21, 0, 255, 0.705);
        color: aliceblue;
        font-size: 20px;
        display: grid;
        grid-template-columns:repeat(1,1fr);
        justify-items: center;
        align-items: stretch;
    }
    .productos figure div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        grid-row-gap: 5px;
    }
    .galeria figure{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        grid-row-gap: 5px;
    }
    .ubicacion iframe{
        display: flex;
        width: 400px;
        height: 400px;
    }
    .mapa{
        width: 100%;
        max-width: 250px;
    }
}